name: Sync Fork

on:
  schedule:
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Git Configuration
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Fetch Upstream
        run: |
          git remote add upstream https://github.com/folke/snacks.nvim
          git fetch upstream

      - name: Sync with Upstream
        run: |
          git merge upstream/main --no-edit
          git push origin main
